.cart-div{
font-family: 'Lato';
background-color: rgba(255, 153, 0, 0.3);
}
.item-summary{
    color: #1C2B35;
    margin-top: 0;
}
.cart-heading{
    font-size: 25px;
    line-height: 30px;
    margin-top: 0;
}
.cart-div h6{

font-style: normal;
font-size: 21px;
line-height: 25px;
letter-spacing: 0.0015em;
color: #0E161A;
}