.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}
.nav-items a{
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 10px;
    color: white;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
}
.nav-items a:hover{
    color: wheat;
}